# Tarefa 1: determinar significado de colunas no dataset do projeto final

In [33]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [34]:
my_range = [91, 181]

In [35]:
# Importing libs
import pandas as pd
import seaborn as sns
import numpy as np
import json
from jinja2 import Template

from IPython.display import display, Markdown

## GAMEPLAN

- Automatizar a criação de um documentinho com as informações que eu julgar necessário com minha análise, contando com as informações do dict
- Ler os documentinhos e escrever o relatório
- Talvez automatizar isso ai também.

In [36]:
with open('dict.json') as f:
    vars_dict = json.load(f)

In [37]:
# Loading data frame
entire_df = pd.read_csv('../estaticos_market.csv', index_col=0)

# Slicing my part
my_df = entire_df.iloc[:, my_range[0]:my_range[1]]

In [38]:
my_df.shape

(462298, 90)

In [39]:
string_template = '''
-----
# Analysis of {{ COL_NAME }}

### Type of column: {{ COL_TYPE }}

Description: {{ COL_DESCRIPTION }}

{% if FLOAT_TYPE %}

* Average value: {{ AVG }}
* Mode value: {{ MODE }}
* Q2: {{ Q2 }}
* Variance: {{ VAR }}

{% else %}

* Value counts

{% for key in VALUE_COUNTS %}
    * {{key }} : {{ VALUE_COUNTS[key] }}
{% endfor %}
{% endif %}

### NaN %: {{ NAN_PCTG }}%
#### NaN count: {{ NAN_COUNT }}
'''

In [ ]:
tm = Template(string_template)

to_display = []
for name in my_df:
    tm = Template(string_template)
    info = dict()
    info['COL_NAME'] = name
    info['COL_TYPE'] = my_df[name].dtype
    info['COL_DESCRIPTION'] = vars_dict[name]
        
        
    info['NAN_PCTG'] = round(100*my_df[name].isna().sum()/my_df[name].size, 2)
    info['NAN_COUNT'] = my_df[name].isna().sum()
    
    if np.issubsctype(my_df[name].dtype, float) or np.issubsctype(my_df[name].dtype, int):
        info['FLOAT_TYPE'] = True
        info['AVG'] = my_df[name].mean()
        info['VAR'] = my_df[name].var()
        info['MODE'] = my_df[name].mode()
        info['Q2'] = round(my_df[name].median(), 3)
    
    else:
        info['FLOAT_TYPE'] = False
        info['VALUE_COUNTS'] = dict()
        counts = my_df[name].value_counts()
        for key in counts.index:
            info['VALUE_COUNTS'][key] = counts.loc[key]

    display(Markdown(tm.render(info)))

-----
# Analysis of qt_coligados_ltda

### Type of column: float64

Description: integer value, quantity of connected companies that has the term  LTDA in the end of the business name



* Average value: 0.08022510743068618
* Mode value: 0    0.0
dtype: float64
* Q2: 0.0
* Variance: 0.46626608176202194



### NaN %: 85.86%
#### NaN count: 396907

-----
# Analysis of qt_coligados_epp

### Type of column: float64

Description: integer value, quantity of connected companies that has the term EPP in the end of the business name



* Average value: 0.001789237050970317
* Mode value: 0    0.0
dtype: float64
* Q2: 0.0
* Variance: 0.0026424630565076673



### NaN %: 85.86%
#### NaN count: 396907

-----
# Analysis of qt_coligados_norte

### Type of column: float64

Description: integer value, quantity of connected companies that are located in the north region of the country



* Average value: 0.9122509213806181
* Mode value: 0    0.0
dtype: float64
* Q2: 0.0
* Variance: 10.486289888161524



### NaN %: 85.86%
#### NaN count: 396907

-----
# Analysis of qt_coligados_sul

### Type of column: float64

Description: integer value, quantity of connected companies that are located in the south region of the country



* Average value: 0.1361196494930495
* Mode value: 0    0.0
dtype: float64
* Q2: 0.0
* Variance: 1.673916485699073



### NaN %: 85.86%
#### NaN count: 396907

-----
# Analysis of qt_coligados_nordeste

### Type of column: float64

Description: integer value, quantity of connected companies that are located in the northeast region of the country



* Average value: 2.2443761373889375
* Mode value: 0    0.0
dtype: float64
* Q2: 1.0
* Variance: 51.789063607960315



### NaN %: 85.86%
#### NaN count: 396907

-----
# Analysis of qt_coligados_centro

### Type of column: float64

Description: integer value, quantity of connected companies that are located in the center-west (centro-oeste) region of the country



* Average value: 0.23923781560153537
* Mode value: 0    0.0
dtype: float64
* Q2: 0.0
* Variance: 4.378916709171579



### NaN %: 85.86%
#### NaN count: 396907

-----
# Analysis of qt_coligados_sudeste

### Type of column: float64

Description: integer value, quantity of connected companies that are located in the southeast of the country



* Average value: 2.3684299062562126
* Mode value: 0    0.0
dtype: float64
* Q2: 0.0
* Variance: 448.2838016011388



### NaN %: 85.86%
#### NaN count: 396907

-----
# Analysis of qt_coligados_exterior

### Type of column: float64

Description: integer value, quantity of connected companies that are located abroad the country



* Average value: 0.015843158844489304
* Mode value: 0    0.0
dtype: float64
* Q2: 0.0
* Variance: 0.027459649601423903



### NaN %: 85.86%
#### NaN count: 396907

-----
# Analysis of qt_ufs_coligados

### Type of column: float64

Description: integer value, quantity of distinct states where the connected companies are located



* Average value: 1.4561789848755946
* Mode value: 0    1.0
dtype: float64
* Q2: 1.0
* Variance: 1.9556840630243308



### NaN %: 85.86%
#### NaN count: 396907

-----
# Analysis of qt_regioes_coligados

### Type of column: float64

Description: integer value, quantity of distinct ufs where the connected companies are located



* Average value: 1.2250003823156093
* Mode value: 0    1.0
dtype: float64
* Q2: 1.0
* Variance: 0.4109278081509472



### NaN %: 85.86%
#### NaN count: 396907

-----
# Analysis of qt_ramos_coligados

### Type of column: float64

Description: integer value, quantity of distinct economic branches from connected companies



* Average value: 2.8773225673257787
* Mode value: 0    1.0
dtype: float64
* Q2: 1.0
* Variance: 20.020796477062053



### NaN %: 85.86%
#### NaN count: 396907

-----
# Analysis of qt_coligados_industria

### Type of column: float64

Description: integer value, quantity of connected companies from the industry sector



* Average value: 0.5298435564527229
* Mode value: 0    0.0
dtype: float64
* Q2: 0.0
* Variance: 24.044464142828915



### NaN %: 85.86%
#### NaN count: 396907

-----
# Analysis of qt_coligados_agropecuaria

### Type of column: float64

Description: integer value, quantity of connected companies from the agrobusiness sector



* Average value: 0.12974262513189888
* Mode value: 0    0.0
dtype: float64
* Q2: 0.0
* Variance: 0.648803541342422



### NaN %: 85.86%
#### NaN count: 396907

-----
# Analysis of qt_coligados_comercio

### Type of column: float64

Description: integer value, quantity of connected companies



* Average value: 1.1698398862228747
* Mode value: 0    0.0
dtype: float64
* Q2: 0.0
* Variance: 30.181461358366857



### NaN %: 85.86%
#### NaN count: 396907

-----
# Analysis of qt_coligados_serviço

### Type of column: float64

Description: integer value, quantity of connected companies from the service sector



* Average value: 2.91823033750822
* Mode value: 0    0.0
dtype: float64
* Q2: 1.0
* Variance: 124.46924266118147



### NaN %: 85.86%
#### NaN count: 396907

-----
# Analysis of qt_coligados_ccivil

### Type of column: float64

Description: integer value, quantity of connected companies from the construction sector



* Average value: 1.205731675612852
* Mode value: 0    0.0
dtype: float64
* Q2: 0.0
* Variance: 317.4936732186571



### NaN %: 85.86%
#### NaN count: 396907

-----
# Analysis of qt_funcionarios_coligados

### Type of column: float64

Description: integer value, quantity of employees from the connected companies



* Average value: 309.21634399451574
* Mode value: 0    0.0
dtype: float64
* Q2: 9.0
* Variance: 2231770.0208032657



### NaN %: 90.85%
#### NaN count: 419995

-----
# Analysis of qt_funcionarios_coligados_gp

### Type of column: float64

Description: integer value, quantity of employees from conected companies and their subsidiaries



* Average value: 1940.2744486206652
* Mode value: 0    0.0
dtype: float64
* Q2: 10.0
* Variance: 771962791.9888339



### NaN %: 90.85%
#### NaN count: 419995

-----
# Analysis of media_funcionarios_coligados_gp

### Type of column: float64

Description: numeric value, average of employees from the connected companies and their subsidiaries



* Average value: 364.9553036311657
* Mode value: 0    0.0
dtype: float64
* Q2: 6.0
* Variance: 346913210.505765



### NaN %: 90.85%
#### NaN count: 419995

-----
# Analysis of max_funcionarios_coligados_gp

### Type of column: float64

Description: numeric value, maximum number of employees from connected companies and their subsidiaries



* Average value: 1538.0433538992506
* Mode value: 0    0.0
dtype: float64
* Q2: 8.0
* Variance: 711889805.4665616



### NaN %: 90.85%
#### NaN count: 419995

-----
# Analysis of min_funcionarios_coligados_gp

### Type of column: float64

Description: numeric value, minimum number of employees from connected companies and their subsidiaries



* Average value: 155.2228447155048
* Mode value: 0    0.0
dtype: float64
* Q2: 1.0
* Variance: 336854839.2888809



### NaN %: 90.85%
#### NaN count: 419995

-----
# Analysis of vl_folha_coligados

### Type of column: float64

Description: numeric value, sum of payroll value from connected companies



* Average value: 45284172.192583695
* Mode value: 0    61819.199219
dtype: float64
* Q2: 803649.62
* Variance: 5.996166175199219e+16



### NaN %: 92.14%
#### NaN count: 425984

-----
# Analysis of media_vl_folha_coligados

### Type of column: float64

Description: numeric value, average of payroll value from connected companies



* Average value: 5863274.672376876
* Mode value: 0    61819.199219
dtype: float64
* Q2: 484250.391
* Variance: 1116219208232212.5



### NaN %: 92.14%
#### NaN count: 425984

-----
# Analysis of max_vl_folha_coligados

### Type of column: float64

Description: numeric value, maximum of payroll value from connected companies



* Average value: 22582083.573048964
* Mode value: 0    61819.2
dtype: float64
* Q2: 618192.0
* Variance: 1.6892688186938332e+16



### NaN %: 92.14%
#### NaN count: 425984

-----
# Analysis of min_vl_folha_coligados

### Type of column: float64

Description: numeric value, minimum of payroll value from connected companies



* Average value: 2261567.42508399
* Mode value: 0    61819.2
dtype: float64
* Q2: 185457.6
* Variance: 799963743786589.8



### NaN %: 92.14%
#### NaN count: 425984

-----
# Analysis of vl_folha_coligados_gp

### Type of column: float64

Description: numeric value, sum of payroll value from connected companies and their subsidiaries



* Average value: 114484765.34699419
* Mode value: 0    61819.199219
dtype: float64
* Q2: 927288.012
* Variance: 6.817616639926707e+17



### NaN %: 92.1%
#### NaN count: 425761

-----
# Analysis of media_vl_folha_coligados_gp

### Type of column: float64

Description: numeric value, average of payroll value from connected companies and their subsidiaries



* Average value: 15804829.971929519
* Mode value: 0    61819.199219
dtype: float64
* Q2: 539200.806
* Variance: 4.647617843886288e+16



### NaN %: 92.1%
#### NaN count: 425761

-----
# Analysis of max_vl_folha_coligados_gp

### Type of column: float64

Description: numeric value, maximum of payroll value from connected companies and their subsidiaries



* Average value: 67084852.15787285
* Mode value: 0    61819.2
dtype: float64
* Q2: 700617.6
* Variance: 4.688306784518568e+17



### NaN %: 92.1%
#### NaN count: 425761

-----
# Analysis of min_vl_folha_coligados_gp

### Type of column: float64

Description: numeric value, minimum of payroll value from connected companies and their subsidiaries



* Average value: 5446710.276270632
* Mode value: 0    61819.2
dtype: float64
* Q2: 185457.6
* Variance: 3.6151047676737384e+16



### NaN %: 92.1%
#### NaN count: 425761

-----
# Analysis of faturamento_est_coligados

### Type of column: float64

Description: numeric value, sum of estimated revenue from connected companies



* Average value: 884375198.6200156
* Mode value: 0    210000.0
dtype: float64
* Q2: 741830.375
* Variance: 1.0813427909797949e+20



### NaN %: 86.04%
#### NaN count: 397775

-----
# Analysis of media_faturamento_est_coligados

### Type of column: float64

Description: numeric value, average of estimated revenue from connected companies



* Average value: 23142644.750762366
* Mode value: 0    210000.0
dtype: float64
* Q2: 315800.348
* Variance: 1.3529368555708589e+17



### NaN %: 86.04%
#### NaN count: 397775